{% extends "base.html" %}

{% block content %}
  <div class="col-12 col-gray">
    <div class="top-panel">
      <h3 class="center title">Инструменты мониторинга сетевых устройств</h3>
    </div>
{#    <hr class="alt2"/>#}
    {#  <p>#}
    {#  <h2><a href="{% url 'ifrate' %}">ifrate</a></h2>#}
    {#  Показывает загрузку интерфейса сетевого устройства в <strong>реальном</strong> времени.<br>#}
    {#  Для работы необходимо знать адрес или DNS-имя устройства и пароль (строка community). Если#}
    {#  строка community не указана, используется пароль по умолчанию.#}
    {#  </p>#}
  </div>

{#  <h4 class="center title">. . .</h4>#}
  <br/>
  <br/>

  <ol>
    <li>
      <p>
        <h3><a href="{% url 'devinfo-old' %}">device-info</a></h3>
        <strong style="color: #666">Получение детальной информации с заданного сетевого устройства.</strong>
        <br>
        Для работы необходимо знать IP-адрес или DNS имя устройства. Если указать шлюз, то таблица IP-адресов будет загружена с заданного шлюза
        (указывайте шлюз, если хотите узнать ip-адреса, соответствующие данным mac-адресам).
        <br>
        Если строка community (пароль) не указана, используется значение по умолчанию.
      </p>
    </li>
  </ol>
{% endblock %}